.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img{
    width: 25%;
    border-radius: 10%;
    -webkit-user-drag: none;
    //animation:spin 50s linear infinite;
  }
  //@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  h2{
    padding: 3rem 1rem 0rem 1rem;
    font-size: 2.5rem;
  }

  h3{
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px){
  .song-container {
    img{
      width: 60%;
    }
  }
}